.table.thin-header th,
.table.thin-header td {
  width: 100px;
}

.table.thin-header th:first-child,
.table.thin-header td:first-child {
  width: 200px;
  min-width: 200px; /* Обеспечиваем, чтобы ширина действительно была фиксированной */
  max-width: 200px;
}

/* Заголовки столбцов с тонким шрифтом */
.thin-header th {
  font-weight: 400; /* Эквивалент .font-weight-light в Bootstrap */
}

/* Подсветка ячейки с актуальной датой */
.today-highlight {
  background-color: #606060; /* Светло-серый цвет, аналогичный Bootstrap светло-серому */
}
