/* Header.css */
.custom-navbar {
  background: linear-gradient(to right, #000000, #333399, #252525);
  background-color: #252525; /* Fallback for browsers that do not support gradients */
}

/* .custom-navbar {
  background-color: #252525 !important;
} */

.custom-navbar .navbar-brand,
.custom-navbar .btn {
  color: white !important;
}

.custom-navbar .btn {
  border: 1px solid white;
}

.custom-navbar .btn:hover {
  color: #252525 !important;
  background-color: white !important;
}

.custom-navbar .container {
  display: flex;
  justify-content: space-between; /* Равномерное распределение содержимого */
  align-items: center; /* Центрирование содержимого по вертикали */
  padding: 0 30px; /* Отступы слева и справа */
}
