/* Header.css */
.custom-navbar {
  background-color: #252525 !important;
}

.custom-navbar .navbar-brand,
.custom-navbar .btn {
  color: white !important;
}

.custom-navbar .btn {
  border: 1px solid white;
}

.custom-navbar .btn:hover {
  color: #252525 !important;
  background-color: white !important;
}
