.sidebar {
  width: 200px;
  transition: width 0.3s;
  overflow: hidden; /* Добавлено для предотвращения прокрутки содержимого */
}

.sidebar.collapsed {
  width: 64px;
}

.sidebar .nav-link {
  color: var(--bs-dark);
  padding: 1rem;
  margin: 0.5rem 0;
  border-radius: 0.5rem;
  transition: background-color 0.2s, color 0.2s;
}

.sidebar-icon {
  display: inline-block;
  width: 2rem;
  text-align: center;
}

.collapsed .sidebar-icon {
  margin: 0 auto;
}

.collapsed .nav-link span {
  display: none;
}

.main-content.collapsed-content {
  margin-left: 60px;
}

.sidebar-toggle {
  background: none;
  border: none;
  cursor: pointer;
}
