/* Стили для таблицы */

/* Заголовки столбцов с тонким шрифтом */
.thin-header th {
  font-weight: 400; /* Эквивалент .font-weight-light в Bootstrap */
}

/* Подсветка ячейки с актуальной датой */
.today-highlight {
  background-color: #606060; /* Светло-серый цвет, аналогичный Bootstrap светло-серому */
}

/* Стили для первого столбца */
.first-column__width {
  min-width: 300px !important;
  max-width: 450px !important;
}

/* Стилизация скроллбара */
.table-responsive::-webkit-scrollbar {
  height: 8px; /* Высота скроллбара */
  background: transparent; /* Прозрачный фон скроллбара */
}

.table-responsive::-webkit-scrollbar-thumb {
  background: #3d3d3d; /* Цвет скроллбара */
  border-radius: 4px; /* Скругление углов скроллбара */
}

.table-responsive::-webkit-scrollbar-track {
  background: transparent; /* Прозрачный фон трека скроллбара */
}
