/* Общие стили таблицы */
.table {
  /* font-family: "Roboto", sans-serif; */
  color: #333;
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
}

/* Упрощение заголовков столбцов */
.thin-header th {
  font-weight: 400;
  background-color: #f7f7f7;
  border: 1px solid #e0e0e0;
  padding: 8px;
  text-align: center;
  min-width: 100px;
}

/* Минимализм в подсветке сегодняшней даты */
.today-highlight {
  background-color: #e0e0e0; /* Более мягкий оттенок серого */
}

/* Адаптация ширины первого столбца */
.first-column__width {
  min-width: 200px !important;
  max-width: 300px !important;
  padding: 8px;
  font-size: 14px;
  text-align: left;
}

/* Современная стилизация скроллбара */
.table-responsive::-webkit-scrollbar {
  height: 8px;
  background: transparent;
}

.table-responsive::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

.table-responsive::-webkit-scrollbar-track {
  background: transparent;
}

/* Удаление лишних границ */
.table td,
.table th {
  border: 1px solid #e0e0e0;
  padding: 8px;
  text-align: center;
}

.thin-header th,
.thin-header td {
  text-align: left; /* Выравнивание текста по левому краю */
  padding: 8px;
}

.first-column__width {
  text-align: left; /* Текст в первом столбце теперь выравнивается по левому краю */
}

.table-responsive {
  overflow-x: auto;
}

/* Особенности дизайна для мобильных и мелких экранов */
@media (max-width: 768px) {
  .first-column__width {
    min-width: 150px !important;
    max-width: 150px !important;
  }
}
