.sidebar-section {
  background-color: #f8f9fa;
  overflow-y: auto;
}

.main-content {
  padding: 20px;
  overflow-y: auto;
}

.sidebar-section.collapsed {
  min-width: 67px !important; /* Минимальная ширина при свернутом состоянии */
}

.sidebar-toggle {
  position: fixed;
  top: 50%;
  left: calc(67px + 4px); /* Положение стрелки рядом с сайдбаром */
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none; /* Убирает фоновый цвет */
  border: none; /* Убирает границы */
  padding: 0; /* Убирает отступы */
}

/* .sidebar-toggle::before,
.sidebar-toggle::after {
  content: '';
  position: absolute;
  width: 2px;
  height: 20px;
  background-color: black;
  transition: transform 0.3s ease;
}

.sidebar-toggle::before {
  transform: rotate(0deg);
  top: 10px;
}

.sidebar-toggle::after {
  transform: rotate(0deg);
  bottom: 10px;
}

.sidebar-toggle:hover::before {
  transform: rotate(60deg) translate(-3px, 0);
}

.sidebar-toggle:hover::after {
  transform: rotate(-60deg) translate(3px, 0);
}

.sidebar-toggle.collapsed::before {
  transform: rotate(-60deg) translate(3px, 0);
}

.sidebar-toggle.collapsed::after {
  transform: rotate(60deg) translate(-3px, 0);
} */

.sidebar-section {
  min-width: 200px !important;
  transition: min-width 0.3s ease; /* анимация изменения ширины */
  overflow: hidden;
}

.custom-modal-size {
  max-width: 75%;
}

.main-content.collapsed-content {
  margin-left: 67px;
}

/* Заголовки столбцов с тонким шрифтом */
.thin-header th {
  font-weight: 400;
  background-color: "#f8f9fa";
  text-align: center;
}

.column__text-center {
  text-align: center;
}

.column__width-300 {
  min-width: 300px;
  max-width: 300px;
}

.column__width-400 {
  min-width: 400px;
  max-width: 400px;
}

.column__width-500 {
  min-width: 500px;
  max-width: 500px;
}
