.sidebar-section {
  background-color: #f8f9fa;
  overflow-y: auto;
}

.main-content {
  padding: 20px;
  overflow-y: auto;
}


.sidebar-section.collapsed {
  min-width: 67px !important; /* Минимальная ширина при свернутом состоянии */
}

/* .sidebar-section.expanded {
  min-width: 200px !important;
} */

.sidebar-toggle {
  background: none; /* Убирает фоновый цвет */
  border: none; /* Убирает границы */
  color: #000000; /* Задает цвет иконок, настроить под цвет вашего дизайна */
  cursor: pointer; /* Делает курсор в виде руки, указывая на интерактивность кнопки */
  padding: 0.5rem; /* Добавляет небольшой отступ вокруг иконки */
  height: auto; /* Убирает фиксированную высоту, позволяет кнопке определяться по высоте содержимого */
  align-self: center; /* Выравнивание кнопки по центру, если родитель использует flex */
  z-index: 100;
}

/* Отключает полосу прокрутки для Sidebar в свернутом состоянии */
.sidebar-section {
  min-width: 200px !important;
  transition: min-width 0.3s ease; /* анимация изменения ширины */
  overflow: hidden;
}

.custom-modal-size {
  max-width: 75%;
}
